@font-face {
    font-family: '';
    src: url();
}
*{
    margin: 0px;
    padding: 0px;
}
body{
   
    max-width: 1350px;
    
    align-items: center;

}



:root{
    --azul1: #0060b1;
    --laranja1: #CD621F;
    --laranja2:#B9552D;
    --cinza1:#676767;
    --fontePadrao:open sans;

}
.header2{
    display: grid;
    padding: 30px;
    align-items: center;

}
.header{
    width: 1360px;
    display: flex;
    position: relative;
    
    flex-direction: column;
    
    background-color: var(--azul1);
   
    
}
.img{
    display: inline-block;

    
}
.menu_logo_busca{
    display: inline-block;
    grid-column: span 8 / auto;
}
.conta_atendimento_favoritos{
    display: inline-block;
    position: relative;
  

    grid-column: span 4 / auto;
}
.menu1{
    width: 55px;
    left: 85px;

}

.menu{
   display: inline-block;
 
    width: 55px;
    left: 55px;

}
.kabum_logo{
    width: 200px;
    height: 70px;
}
.butao_busca{
    
   
    width: 70px;
    height: 50px;
    
}
.button{
    position: relative;
    top: 20px;
    left: -5px;

}
.conta{
    width: 40px;
    height: 40px;
}
.atendimento,.favoritos,.carrinho{
   
    width: 40px;
    height: 40px;
}
.caixa_login{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: auto;
}
.busca_form{

    width: 400px;
    height: 30px;
    
    text-align: center;
    
}
.busca{
    display: inline-block;
    position: relative;
    top: -20px;
   

}
nav{
    display: flex;
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    columns: 8;
    
}
nav > a{
    display: inline-block;
    background-color: var(--laranja1);
    color: white;
    position: relative;
    padding: 10px;
    margin-left: auto;
    padding-left: 36px;
    padding-right: 36px;
    text-decoration: none;
    border-right: 1px solid white;
    font-size: 10pt;
}


footer{
    display: inline-block;
    width: 100%;
    align-items: center;
    position: relative;
    padding: auto;
    
    background-color: var(--azul1);
}
.noticias{
    background-color: blue;
   padding-left: 10%;
   padding-bottom: 1%;
   color: white;
}
.input_news{
    display: inline-block;
    position: relative;
    

}
.news_text{
    display: inline-block;
    width: 140px;
    position: relative;


}
.input{
    width: 250px;
    height: 40px;
}
.radius{
    border-radius: 10px;
    margin-left: 30px;
    
}

.butao_cadastrar{
    display: inline-block;
    width: 105px;
    height: 40px;
    background-color: var(--laranja1);
}
.lista_footer{
    margin: 60px;
    display: inline-block;
    columns: 5;
    
    height: 320px;
    
}
.lista{
    display: inline-block;
    list-style: none;
    padding-top: 10px;
    
}
aside{
     columns: 2;
    
}
ul{
   list-style: none;
    
}
.mensagem_footer{
    margin: 50px;
    font-size: 12px;
}
.selo{
    background-color: beige;
    height: 100px;
}


