@font-face {
    font-family: '';
    src: url();
}
:root{
    --azul1: #0060b1;
    --laranja1: #CD621F;
    --laranja2:#B9552D;
    --cinza1:#676767;
    --fontePadrao:open sans;
}

body{
    background-color: var(--azul1);
}
.cabecalho{
    display: grid;
    grid-template-columns: 70% 30%;
}
.menu_logo_buscar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}
.menu_hamburguer{
    display: grid;
    grid-column-start: 2;
}


.menu_hamburguer_1{
    background-color: aliceblue;
    width: 30px;
    height: 4px;
    margin-bottom: 3px;

}
.menu_hamburguer_1#onclick{
    background-color: black;
}
#kabum_logo{
    display: grid;
    grid-column-start: 3;
    color: white;
    width: 200px;
}
.buscar{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 0px;
}    
#input_buscar{
    width: 78%;
    height: 30px;
    font-size: larger;
    border-radius: 15px;

}
#busca{
    display: inline-block;
    position: relative;
    left: -10px;
    top: 10px;
    width: 15%;
}
.header2{
    display: grid;
    grid-template-columns: 45% auto;
    border: black solid 1px;
}
.login{
    
    padding-top: 15%;
    

}
#login{
   
    width: 30px;
    height: 30px;
    
}
.caixa_de_texto_login{ 
    display: inline-block;
    width: 110px;
    font-size: 10pt;
   
    
}
.sac_favoritos_carrinho{
    display: inline-block;
   margin-top: 10%;
}
#sac{
    width: 30px;
    height: 30px;
    border: black solid 1px;
}
#favoritos{
    width: 30px;
    height: 30px;
    border: black solid 1px;
}
#carrinho{
    width: 30px;
    height: 30px;
    border: black solid 1px;
}
.menu{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;

    
}
.menu_link1{
    display: block;
    background-color: var(--laranja1);
    padding: 10px;
    font-size: 10pt;

}

.menu_link{
    display: block;
    background-color: var(--laranja1);
    text-transform: uppercase;
    padding: 10px;
    font-size: 10pt;
    border-right: white solid 1px;
}

.menu_link:hover{
    background-color: var(--laranja2);
}

a{
    text-decoration: none;
    color: beige;
}